
.bgColor1 { background-color: #00326d !important; /* le vert Bouillon */ }
.txtColor1 { color: #00326d !important; /* le vert Bouillon */ }

.bgColor2 { background-color: #2C3E50; /* le gris MidnightBlue */ }
.txtColor2 { color: #2C3E50; /* le gris MidnightBlue */ }

.bgColor3 { background-color: #798584; /* le gris texte */ }
.txtColor3 { color: #798584; /* le gris texte */ }

.bgColor4 { background-color: #555; /* le gris plus fort */ }
.txtColor4 { color: #555; /* le gris plus fort */ }

.bgColorWhite { background-color: #FFF; }
.txtColorWhite { color: #FFF; }

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.main-column { width: 965px; margin-left: auto; margin-right: auto; }

.header { padding: 15px 25px; color: #FFF; position: fixed; top: 0px; width: 100%; height: 120px; z-index: 500; }
.header .animateArea { overflow: hidden; }

.header img.icon { display: block; width: 91px; height: 91px;  }
.header h1 { line-height: 41px; margin: 10px 0px 0px 20px; }
.header .fil-ariane { margin-left: 7px; margin-top: 4px; }
.header .fil-ariane span {
	display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}
.header .fil-ariane a {
	color: #FFF;
    margin: 0 7px;
    padding: 5px 7px;
    height: 30px;
    border: 1px solid #00326d;
    display: inline-block;
    
    max-width: 100px;

    text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: nowrap;
	overflow: hidden;
}
.header .fil-ariane a:hover { border: 1px solid #FFF; color: #FFF; text-decoration: none; }
.header .picto { 
	font-size: 38px; 
	color: #FFF; 
	border: 2px solid #FFF; 
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	height: 80px; width: 80px;
	overflow: hidden;
	text-align: center;
	line-height: 74px;
	vertical-align: middle;
}
.header.start h1 { line-height: 47px; }
.header.start .fil-ariane { display: none; }
.header .animateArea { overflow: hidden; position: relative; height: 85px; }
.header .animateArea .layer { position: absolute; width: 100%; height: 60px; left: 0px; top: 0px;  }
.header .animateArea .layer.one { top: -80px; }


.content { max-width: 980px; margin: 150px auto 0px auto; padding: 10px 25px; }
.content h2 { font-size: 30px; margin-top: 0px; padding-top: 30px;}
.content .question-label { margin-bottom:50px; }


.content .step { margin-bottom: 70px; }

.content .bloc {
	margin: 15px;
	padding: 0px;
	overflow: hidden; 
	float: left;
	display: block;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 8px 0px  rgba(0,0,0,0.35);
	box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.35);

	color: #798584;
	background-color: #FFF;
	text-align: center;
	cursor: pointer;
	
}
.content .bloc:hover,
.content .bloc.selected { 
	border: 4px solid #d4001c;
	padding: 0px; 
	background-color: #eee;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

 }


.content .bloc .bloc-container { padding: 19px; }

.content .bloc:hover .bloc-container, 
.content .bloc.selected .bloc-container { padding: 15px; }

.content .bloc.disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid #CCC;
	color: #BDBDBD;
	cursor: default !important;

}
.content .bloc.disabled:hover {
	border: 1px solid #CCC !important;
	background-color: #FFFFFF !important;
	padding: 4px !important;
}

.content .bloc .description {
	color: #798584;
	text-align: justify;
	padding: 4px;
	margin-bottom: 15px;
}
.content .bloc .title {
	font-size: 18px;
	color: #666;
	padding: 3px 15px 3px 0px;
	margin: 15px 30px 10px;
	text-transform: uppercase;
	border-bottom: 1px solid #666;
	text-align: left;
}

.content .bloc .title.no-description {
	text-transform: inherit;
	border: none;
}

.content .bloc:hover .title,
.content .bloc.selected .title { color: #d4001c; }

.content .bloc .index {
	color: #FFF;
    background-color: #00326d;
    text-align: center;
    width: 100%;
    font-size: 24px;
    padding: 15px;
    margin-bottom: 0px;
}

.content .bloc:hover .index,
.content .bloc.selected .index {
	padding-top: 11px;
	margin-bottom: 4px;
}


.content .choices.titled-block-with-icon .bloc { 
	width: 200px; height: 175px; font-size: 16px;
	overflow: hidden;
}
.content .choices.titled-block-with-icon .bloc i { 
	font-size: 34px; color: #BBB; 
	border: 2px solid #BBB; 
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	text-align: center;
	line-height: 60px;
	height: 60px; width: 60px;
	vertical-align: middle;
	margin-bottom: 10px;
}
.content .choices.titled-block-with-icon .bloc:hover { background-color: #DDD; }
.content .choices.titled-block-with-icon .bloc.disabled i { color: #DDD; border-color: #DDD; }

.content .choices.block-title-description .bloc { width: 415px; }
.content .choices.block-title-description.col2 .bloc { width: 435px; }
.content .choices.block-title-description.col3 .bloc { width: 280px; }
.content .choices.block-title-description.col4 .bloc { width: 202px; }
.content .choices.block-title-description .bloc .description { margin: 0px 30px 0px 25px; }
.content .choices.sliding-block { width: 100%; position: relative; }
.content .choices.sliding-block .sliding-mask { overflow: hidden; margin: 0px 70px; position: relative; }
.content .choices.sliding-block .sliding-area { position: absolute; top: 0px; left: 0px; }
.content .choices.sliding-block .bloc:hover {  }
.content .choices.sliding-block .bloc .title { margin: 15px 0px 10px 0px; }
.content .choices.sliding-block .bloc .description { margin: 0px 0px 0px 15px; }

.content .choices.sliding-block a.arrow-left, 
.content .choices.sliding-block a.arrow-right,
.result .arrow { 
	position: absolute; top: 30px;
	display: block; width: 50px; height: 50px;
	background: #d4001c;
	border: 2px solid #d4001c;
	color: #FFF;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.65);
	-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.65);
	box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.65);
}

.content .choices.sliding-block a.arrow-left:hover, 
.content .choices.sliding-block a.arrow-right:hover,
.result .arrow {
	border: 2px solid #d4001c;
	color: #d4001c;
	background: #FFF;
} 
.content .choices.sliding-block a.arrow-right.disabled,
.content .choices.sliding-block a.arrow-left.disabled {
	border: 2px solid #CDCDCD !important;
	background: #CDCDCD !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none !important;
	cursor: default !important;
	color: #FFF !important;
}
.content .choices.sliding-block a.arrow-left { left: 0px; }
.content .choices.sliding-block a.arrow-right { right: 0px; }


.slide-loading { 
	padding: 20px 0px;
	clear:both; font-size: 18px; line-height: 30px; color: #999; 
	width: 200px; margin: 0 auto;
}
.slide-loading { font-size: 22px; }
.slide-loading span { vertical-align: top; line-height: 30px; }


.emptyness { height: 300px; }


.result { margin: -20px auto 0px auto; background: #00326d;  padding: 40px; text-align: center; }
.result .c { 
	position: relative;
	background: #FFF; 
	border: 2px solid rgb(121, 133, 132);
	width: 100%;
	max-width: 800px;
	margin: 50px auto;
	padding: 30px 50px; 

	font-size: 20px; 
	line-height: 24px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 8px 0px  rgba(0,0,0,0.35);
	box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.35);
}
.result i { font-size: 60px; color: #FFF; margin: 0px auto;}
.result i.loading { position: absolute; top: 50%; margin-top: -34px; margin-left: -21px; }
.result .c p { margin: 10px auto 15px auto; clear: both; color: #000; } 
.result label { color: #999; font-size: 16px; line-height: 19px;  }
.result .arrow {
	position: inherit;
    margin: 0px auto 20px auto;
}
.result .arrow span.glyphicon{ left: 2px; }


.ellipsis {
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: nowrap;
	overflow: hidden;
}


