
@media(max-width: 970px) {
	.header h1 { line-height: 25px; font-size: 28px; }
	.main-column { width: 100%; }
	.content .choices.titled-block-with-icon .bloc { width: 43%; margin-left: 3%; margin-right: 3%;  }
}

@media(max-width: 500px) {
	.header .picto { display: none; }
}