<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
				<title></title>
				<meta name="description" content="">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="apple-touch-icon" href="apple-touch-icon.png">
				<link rel="icon" href="favicon.ico" />

				<link rel="stylesheet" href="css/bootstrap.css">
				<link rel="stylesheet" href="css/bootstrap-theme.css">
				<link rel="stylesheet" href="css/font-awesome.css">
				<link rel="stylesheet" href="css/main.css">
				<link rel="stylesheet" href="css/responsive.css">

				<!--[if lt IE 9]>
						<script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
				<![endif]-->
		</head>
		<body>
				<!--[if lt IE 8]>
						<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
				<![endif]-->
			
				<div class="header bgColor1">
					<div class="row">
						
						<div class="main-column animateArea">
							
							<div class="layer one">
								<div class="col-xs-1 picto">
									<i class="fa fa-file-text-o"></i>
								</div>
								<div class="col-xs-10 ">
									<h1 class="txtColorWhite ellipsis"></h1>
									<div class="fil-ariane hidden">
									</div>
								</div>
							</div>
							
							<div class="layer two">
								<div class="col-xs-1 picto">
									<i class="fa fa-file-text-o"></i>
								</div>
								<div class="col-xs-10 ellipsis">
									<h1 class="txtColorWhite ellipsis"></h1>
									<div class="fil-ariane">
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
				
				<div class="content">
					
				</div>
				<div class="slide-loading hidden">
					<i class="fa fa-spinner fa-spin"></i> 
					<span>Chargement ...</span>
				</div>

				<div class="emptyness">
				</div>

				<div class="result hidden"> 
				</div>

				<script id="NewStep" type="text/template">
					<div class="step" data-index="{{=it.index}}" data-id="{{=it.id}}">
						<h2 class="title txtColor2">{{=it.question }}</h2>
						{{?it.label }}<p class="question-label">{{=it.label}}</p>{{?}}
						<div id="Q{{=it.index}}" class="choices {{=it.type}} {{=it.col ? it.col : "" }}">
						{{=it.choices }}
						</div>
						<br style="clear:both;"/>
					</div>
				</script>

				<script id="BlockTemplate" type="text/template">
					<div 	class="bloc {{=it._type}} {{=it._disabled?'disabled':''}}"
							{{?(it._index || it._title) }}data-id="{{=(it._index ? it._index : it._title)}}"{{?}} 
							{{?it._point }}data-points="{{=it._point}}"{{?}}
							{{?it._jumpTo }}data-next="{{=it._jumpTo}}"{{?}}
							>
						
						{{ if (it._index && it._type === 'sliding-block') { }}
						<div class="index">{{= it._index }}</div>
						{{ } }}

						<div class="bloc-container">
						{{ if (it._type === 'sliding-block') { }}
							{{ for(var p in it) { if (p.substr(0,1)==='_') continue; }}
								<div class="title">
									{{=p }}
								</div>

								<div class="description">
									{{=it[p] }}
								</div>
							{{ } }}
						{{ } }}

						{{ if (it._type === 'titled-block-with-icon') { }}
							<i class="fa fa-{{=it._icon}}" />
							<p>{{=it._title}}</p>
						{{ } }}

						{{ if (it._type === 'block-title-description') { }}
							{{ if (it._description) { }}
							<p class="title">{{=it._title}}</p>
							<p class="description">{{=it._description}}</p>
							{{ } else { }}
								<p class="title no-description">{{=it._title}}</p>
							{{ } }}
						{{ } }}
						</div>



					</div>
				</script>

				<script id="SlidingBlockTemplate" type="text/template">
					<div class="sliding-mask">
						<div class="sliding-area">
							{{ for(var block in it.choices) { }}
							{{=BlockFactory.getHtml( it.choices[block], it.type ) }}
							{{ } }}
						</div>
					</div>

					<a href="#" class="arrow-left">
						<span class="glyphicon glyphicon-chevron-left"></span> 
					</a>
					<a href="#" class="arrow-right"> 
						<span class="glyphicon glyphicon-chevron-right"/></span>
					</a>
				</script>



				<script id="ResultStep" type="text/template">

					<i class="done-picto fa fa-check"></i> 

					<div class="c">
						<div class="cc invisible">
							<label>
								La classification&nbsp;conventionnelle choisie est&nbsp;:
							</label>

							{{?it.label }}<p>{{=it.label}}</p>{{?}}
							
							{{?it.salary }}
							<label>Le salaire&nbsp;minimum pour cette classification&nbsp;est&nbsp;:</label>
							<br/>
							<p class="salary">{{=it.salary}}€ / {{=it.salary_freq ? it.salary_freq : "mois" }}</p>
							{{?}}
						</div>

						<i class="loading txtColor1 fa fa-cog fa-spin"/> 

					</div>

					<a href="#" class="arrow gototop">
						<span class="glyphicon glyphicon-chevron-up"></span> 
					</a>

				</script>


				<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.js"><\/script>')</script>
				<script src="js/vendor/jquery.easing.js"></script>
				<script src="js/vendor/bootstrap.js"></script>
				<script src="js/vendor/doT.js"></script>
				<script src="js/main.js"></script>
				<script>

					$( window ).resize(function() {
						// Re-init all blocks
						$('.content .step .choices').each(function(k,v) {
							console.log(v);
							if ($(v).hasClass('sliding-block'))
								QuestionTypes['sliding-block'].init( $(v) );
						});
					});

				</script>
		</body>
</html>
