
body {
	background-color: #00AAA5;
	color: #FFF;
}

.main-wrapper {
	text-align: center;
	margin: 20px auto 0px auto;
}

.loader {	display: block; margin: 0 auto; width: 122px; height: 122px; background: transparent url('../img/loader.gif') no-repeat;}
h1 { margin: 35px auto; }
ul, li { list-style: none; }
ul { text-align: center; max-width: 965px; margin: 0 auto; }
ul li.fileitem { display: inline-block; padding: 20px; width: 140px; max-width: 968px; position: relative; }
ul li.fileitem a { 
	visibility: hidden; 
	position: absolute;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer !important;
	font-size: 12px;
	line-height: 22px;
}
ul li.fileitem a i { color: #FFF; }
ul li.fileitem a.delete { top:10px; left:94px;  }
ul li.fileitem a.download { top:94px; left:94px;  }


ul li.fileitem:hover a { visibility: visible; }


span.icon-file-excel { display: block; margin-left: 10px; width: 79px; height: 90px; background: transparent url('../img/icon-excel-file.png') no-repeat; margin-bottom: 10px;  }
span.title-file-excel { font-size: 12px; font-style: italic; line-height: 13px; }


.files, .submenu {
	padding: 35px; 
}

.submenu .container { width: 968px; margin: 0 auto; }
.submenu .drop {
	border-right: 1px solid #007572;
}

.submenu {
	-webkit-box-shadow: inset 0px 1px 8px  rgba(49,51,77,0.6);
	-moz-box-shadow: inset 0px 1px 8px rgba(49,51,77,0.6);
	box-shadow: inset 0px 1px 8px rgba(49,51,77,0.6);
}

.submenu .drop, .submenu .download {
	padding: 0 30px;
}

.submenu h4 { text-align: left; margin-bottom: 20px; }

#dropzone { 
	height: 170px;
	padding: 15px;
    border: dashed 2px #007572;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	color: #007572; 
}
#dropzone #upload-incentive { margin-top: 25px; }
#dropzone .icon-file { display: inline-block; width: 90px; margin: 10px;}
#dropzone .icon-file span.icon-file-excel { opacity: .8;  }
#dropzone .icon-file span.icon-file-excel img { margin-top: 45px;  }
#dropzone form label { 
	font-size: 16px; margin-top: 30px; 
	cursor: pointer;
}
#dropzone span.icon-upload { 
	display: block; 
	margin-left: 10px; width: 100%; height: 60px; 
	background: transparent url('../img/upload-icon.png') no-repeat center center; 
	cursor: pointer;
}

#dropzone.drag {
	color: #028C85;
	border: dashed 2px #028C85;
	background: red;
}
#dropzone .dz-filename { 
	display: block;
	font-size: 11px; 
	width: 90px; 
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: nowrap;
	overflow: hidden; 
}

.modal { color: #555; }
.modal .picto { font-size: 50px; text-align: center; }
.modal .label { font-size: 12px; margin-right: 8px; }
.modal .stack .l { margin-bottom: 11px; }

