
@media(max-width: 970px) {
	.main-column { width: 100%; }
	.submenu .container { width: 100%; }
	.submenu .drop {
		border-right: none;
		border-bottom: 1px solid #007572;
		padding-bottom: 30px;
	}

	.submenu .download { margin-top: 30px; }
}


